.portfolio{
  height: 350px;
}
.portfolio-image{
  background-image: url(Revenue_img.jpg);
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
}
.des-text{
  padding: 80px;
}

.des-text h3{
  font-size: 15px;
}



body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

.header-section{
  background-image: url(/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 175px;
}
.logo {
  padding-top: 100px;
}
.logo svg {
  fill: #fff;
  max-width: 250px;
}


.wrapper-left {
  padding-bottom: 60px;
}
.wrapper-left h2 {
  margin-top: 45px;
  color: #38d9b8;
  font-size: 28px;
}
.wrapper-left h3 {
  font-size: 20px;
  font-style: italic;
  color: #084059;
}
.wrapper-left ul{
  list-style: none;
  padding: 0;
}
.wrapper-left li{
  margin-bottom: 10px;
}

.main-content .wrapper-right {
  background-color: #d7ede5;
}

.footer{
  background-color: #052633;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}
.footer h4 {
  color: #38d9b8;
  font-size: 28px;
}